---
const { platform, username } = Astro.props;
import checkUrl from '../scripts/fetch.js';

const url = `https://www.${platform}.com/${username}`;
const urlExists = await checkUrl(url);
---

<p>Props pass data from one component to another (args), read-only, unidirectional from parent to child.</p>
{!urlExists && <p>URL does not exist.</p>}
{urlExists && (
    <a href={url}>{platform}</a>
    <p>unchanged website</p>
)}

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        background-color: #4c1d95;
        text-decoration: none;
    }
</style>
